body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

.contenedor {
    width: 350px;
    margin: 100px auto;
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #00aaff;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #0088cc;
}

#resultado p {
    margin: 5px 0;
}
